<!DOCTYPE html>
<html>
  <head>
    <title>Coriolis EDCD Edition</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <!-- Standard headers -->
    <meta name="description" content="A ship builder, outfitting and comparison
      tool for Elite Dangerous">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
      maximum-scale=1.0, user-scalable=0">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href=/favicon2.ico>
    <link rel="icon" sizes="152x152 192x192" type="image/png"
      href="/192x192.png">

    <!-- Apple/iOS headers -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Coriolis">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Microsoft Windows Phone/Tablet headers -->
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#000000">

    <script>
      window.CORIOLIS_GAPI_KEY = '<%- htmlWebpackPlugin.options.gapiKey %>';
      window.CORIOLIS_VERSION = '<%- htmlWebpackPlugin.options.version %>';
      window.CORIOLIS_DATE = '<%- htmlWebpackPlugin.options.date.toISOString().slice(0, 10)  %>';
      window.BUGSNAG_VERSION = '<%- htmlWebpackPlugin.options.version + '-' + htmlWebpackPlugin.options.date.toISOString()  %>';
    </script>
    <% if (htmlWebpackPlugin.options.uaTracking) { %>
      <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '<%- htmlWebpackPlugin.options.uaTracking %>', 'auto');
      ga('send', 'pageview');
    </script>
      <script async src='https://www.google-analytics.com/analytics.js'></script>
      <% } %>

        <!-- Piwik -->
        <!-- <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setCookieDomain", "*.coriolis.edcd.io"]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//stats.isadankme.me/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '4']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>-->
        <!-- End Piwik Code -->

        <!-- Bugsnag -->
        <script src="//d2wy8f7a9ursnm.cloudfront.net/v4/bugsnag.min.js"></script>
        <script
          src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-plugins/v1/bugsnag-react.min.js"></script>
        <script>
      window.bugsnagClient = bugsnag('ba9fae819372850fb660755341fa6ef5', {appVersion: window.BUGSNAG_VERSION || undefined})
      window.Bugsnag = window.bugsnagClient
    </script>
      </head>
      <body style="background-color:#000;">
        <section id="coriolis"></section>

      </body>
    </html>
